body {
    background-image: url(../images/footbal_field-new.jpg);
}

td {
    width: 3em;
    height: 3em;
    text-align: center;
    border: 1px solid black;
}

#leftlogoheader{
    vertical-align: middle;
}
