@font-face {
    font-family: SpyAgency;
    src: url(../../../fonts/spyagency2_1.ttf);
}

body {
    background-image: url(../../../images/footbal_field-new.jpg);
}

table.picktable td {
    width: 3em;
    height: 3em;
    text-align: center;
    border: 2px solid green;
}

table.picktable th {
    padding-bottom: 0%;
}

.jumbotron {
    background-color: palegoldenrod !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

.spyhead{
    font-family: SpyAgency;
    color: #594a41;
}
#lowerbank{
    margin-left: auto;
    margin-right: auto;
}

#navbarlogo{
    width: 6%;
}

#leftlogoheader{
    vertical-align: middle;
    width: 70%;
}



#logoside{
    min-width: 50px;
}

/* Mitch additions */
.inset50{
    margin-left: 50px;
    margin-right: 50px;
}

.topgap20{
    margin-top: 20px;
}

.logo-wrapper{
    margin-top: 20px;
}