<div class="reg-screen-holder">

  <div class="reg-popover">
    <div class="reg-screen-input-holder">
      <div class="reg-screen-name-holder">
        <input type="text" ng-model="currentPlayer.email" placeholder="email"/>
        <input type="password" ng-model="currentPlayer.pwd" placeholder="password"/>
      </div>

      <div class="reg-screen-email-holder">
      </div>

    </div>

    <div class="button-big grey button-create-player" ng-click="login()"><span class="cfa-btn"></span>login</div>
    <p class="center-big">-OR-</p>
      <div class="button-big grey button-create-player" ng-click="createAccount()"><span class="cfa-btn"></span>create account</div>

  </div>


</div>