<div class="reg-screen-holder">

  <div class="reg-popover">
    <div class="reg-screen-input-holder">
      <div class="reg-screen-name-holder">
        <input type="text" ng-model="model.email" placeholder="email"/>
        <input type="text" ng-model="model.name" placeholder="name"/>
        <input type="text" ng-model="model.pwd" placeholder="password"/>
        <input type="text" ng-model="model.pwdMatch" placeholder="password (again!)"/>
        <input type="text" ng-model="model.initials" placeholder="initials (3)"/>
      </div>

      <div class="reg-screen-email-holder">
      </div>

    </div>

    <div class="button-big grey button-create-player" ng-click="createPlayer()"><span class="glyphicon glyphicon-plus cfa-btn"></span> create player</div>
  </div>


</div>