<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="http://www.overplay.io"><img id="navbarlogo" src="images/OverPlayTVLogo_notext.png" class="img-responsive"></a>
                </div>
            </div>
            <div class="nav navbar-right">
            <ul class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"> {{player.realName}} Info</span><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">{{player.realName}}</a></li>
                            <li><a href="#">{{player.nickName}}</a></li>
                            <li><a href="#">{{player.emailAddress}}</a></li>
                            <li><a href="#">{{player.initials}}</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Edit Info</a></li>
                        </ul>
                </ul>
            </div>
            </div>
        </div>
